@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme {
  --breakpoint-xs: 29.6875rem; /* 475px */
  --breakpoint-sm: 35.625rem; /* 570px */
  --breakpoint-md: 47.5rem; /* 760px */
  --breakpoint-lg: 59.375rem; /* 950px */
  --breakpoint-xl: 71.25rem; /* 1140px */

  --font-display: "Inter", sans-serif;

  --color-primary-50: #e1e1ff;
  --color-primary-100: #aebccf;
  --color-primary-200: #cfcbff;
  --color-primary-250: #bab2e7;
  --color-primary-300: #b7aaff;
  --color-primary-400: #8881f8;
  --color-primary-450: #8f88ff;
  --color-primary-500: #7b61ff;
  --color-primary-550: #6c63f1;
  --color-primary-600: #5046e5;
  --color-primary-700: #4338ca;
  --color-primary-800: #3730a3;
  --color-primary-900: #332e81;
  --color-primary-950: #252128;

  /* Blue */
  --color-blue-100: #e6f0fa;
  --color-blue-200: #cce0f5;
  --color-blue-300: #99c2eb;
  --color-blue-400: #66a3e0;
  --color-blue-500: #3385d6;
  --color-blue-600: #0077b5;
  --color-blue-700: #005c8a;
  --color-blue-800: #004466;
  --color-blue-900: #002233;

  /* Teal */
  --color-teal-100: #e0fcff;
  --color-teal-200: #b2f5ea;
  --color-teal-300: #81e6d9;
  --color-teal-400: #4fd1c5;
  --color-teal-500: #00a6b6;
  --color-teal-600: #0090a0;
  --color-teal-700: #007a8a;
  --color-teal-800: #006066;
  --color-teal-900: #003333;

  /* Gray */
  --color-gray-100: #f9f9f9;
  --color-gray-200: #d9d9d9;
  --color-gray-300: #6b7280;
  --color-gray-400: #999999;
  --color-gray-500: #777777;
  --color-gray-600: #6b7280;
  --color-gray-650: #141414;
  --color-gray-700: #1f2937;
  --color-gray-800: #0f172a;
  --color-gray-900: #0a0a14;

  /* Pink */
  --color-pink-100: #ffe6f1;
  --color-pink-200: #ffccd9;
  --color-pink-300: #ff99c2;
  --color-pink-400: #ff66a3;
  --color-pink-500: #ff3385;
  --color-pink-600: #e92577;
  --color-pink-700: #af0c48;
  --color-pink-800: #800030;
  --color-pink-900: #400018;

  /* Yellow */
  --color-yellow-100: #fff9db;
  --color-yellow-200: #fff3bf;
  --color-yellow-300: #ffe86e;
  --color-yellow-400: #ffd700;
  --color-yellow-500: #ffc700;
  --color-yellow-600: #f0c000;
  --color-yellow-700: #c0a000;
  --color-yellow-800: #806000;
  --color-yellow-900: #403000;

  /*Jade*/
  --color-jade-50: #ebfef4;
  --color-jade-100: #d0fbe2;
  --color-jade-200: #a4f6cb;
  --color-jade-300: #6aebb0;
  --color-jade-400: #2fd88f;
  --color-jade-500: #0abf77;
  --color-jade-600: #00ab6b;
  --color-jade-700: #007c51;
  --color-jade-800: #036241;
  --color-jade-900: #045037;
  --color-jade-950: #012d20;
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

:root {
  --radius: 0.5rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.141 0.005 285.823);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.141 0.005 285.823);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.141 0.005 285.823);
  --primary: var(--color-primary-800);
  --primary-foreground: oklch(0.969 0.016 293.756);
  --secondary: oklch(0.967 0.001 286.375);
  --secondary-foreground: oklch(0.21 0.006 285.885);
  --muted: oklch(0.967 0.001 286.375);
  --muted-foreground: var(--color-gray-600);
  --accent: oklch(0.967 0.001 286.375);
  --accent-foreground: oklch(0.21 0.006 285.885);
  --destructive: oklch(0.577 0.245 27.325);
  --border: var(--color-primary-800);
  --input: var(--color-primary-800);
  --ring: var(--color-primary-800);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.141 0.005 285.823);
  --sidebar-primary: var(--primary-700);
  --sidebar-primary-foreground: oklch(0.969 0.016 293.756);
  --sidebar-accent: oklch(0.967 0.001 286.375);
  --sidebar-accent-foreground: oklch(0.21 0.006 285.885);
  --sidebar-border: var(--primary-700);
  --sidebar-ring: var(--primary-700);
}

.dark {
  --background: var(--color-primary-950);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.21 0.006 285.885);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.21 0.006 285.885);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.541 0.281 293.009);
  --primary-foreground: oklch(0.969 0.016 293.756);
  --secondary: oklch(0.274 0.006 286.033);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.274 0.006 286.033);
  --muted-foreground: oklch(0.705 0.015 286.067);
  --accent: oklch(0.274 0.006 286.033);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.541 0.281 293.009);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.541 0.281 293.009);
  --sidebar-primary-foreground: oklch(0.969 0.016 293.756);
  --sidebar-accent: oklch(0.274 0.006 286.033);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.541 0.281 293.009);
}

@layer base {
  * {
    @apply border-border outline-ring/50 font-display;
  }
  body {
    @apply bg-background text-foreground;
  }

  #root {
    @apply flex flex-col min-h-screen;
  }
}

@layer utilities {
  .container {
    padding-inline: 1rem;
    margin-left: auto;
    margin-right: auto;
    max-width: var(--breakpoint-xl);
  }
}

.image-shadow {
  box-shadow: 0 8px 28px -6px rgba(24, 39, 75, 0.12),
    0 18px 88px -4px rgba(24, 39, 75, 0.14);
}
